.jumbotron {
  padding-top: 5rem;
  background-color: #D4EBF8; /* Light Blue */
}

#projects {
  background-color: #1F509A; /* Deep Blue */
}

.contact {
  padding-top: 2rem;
  background-color: #1F509A; /* Deep Blue */
}

.navbar-custom {
  background-color: #1F509A !important; /* Deep Blue */
}

.footer-custom {
  background-color: #1F509A; /* Deep Blue */
}
