.jumbotron {
  padding-top: 5rem;
  background-color: #cde8e5;
}
#projects {
  background-color: #96c9f4;
}
.contact {
  padding-top: 2rem;
  background-color: #96c9f4;
}
section {
  padding-top: 5rem;
}
