.jumbotron {
  padding-top: 5rem;
  background-color: #D2B48C; /* Tan */
}

#projects {
  background-color: #C19A6B; /* Antique Brass */
}

.contact {
  padding-top: 2rem;
  background-color: #C19A6B; /* Antique Brass */
}

.navbar-custom {
  background-color: #8B4513 !important; /* Saddle Brown */
}

.footer-custom {
  background-color: #8B4513; /* Saddle Brown */
}
